@charset "utf-8";

/* font */
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-thin.eot');/* IE 호환성 보기 */
	src:url('/font/notokr-thin.eot?#iefix') format('embedded-opentype'),/* IE 6 ~ 8 */
	url('/font/notokr-thin.woff2') format('woff2'),/* WOFF2 지원 브라우저 */
	url('/font/notokr-thin.woff') format('woff'),/* 모던 브라우저 */
	url('/font/notokr-thin.svg#notokr-thin') format('svg');/* 구 모바일 브라우저 */
	font-weight:100;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-light.eot');
	src:url('/font/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-light.woff2') format('woff2'),
	url('/font/notokr-light.woff') format('woff'),
	url('/font/notokr-light.svg#notokr-light') format('svg');
	font-weight:200;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-demilight.eot');
	src:url('/font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-demilight.woff2') format('woff2'),
	url('/font/notokr-demilight.woff') format('woff'),
	url('/font/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-regular.eot');
	src:url('/font/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-regular.woff2') format('woff2'),
	url('/font/notokr-regular.woff') format('woff'),
	url('/font/notokr-regular.svg#notokr-regular') format('svg');
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-medium.eot');
	src:url('/font/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-medium.woff2') format('woff2'),
	url('/font/notokr-medium.woff') format('woff'),
	url('/font/notokr-medium.svg#notokr-medium') format('svg');
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-bold.eot');
	src:url('/font/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-bold.woff2') format('woff2'),
	url('/font/notokr-bold.woff') format('woff'),
	url('/font/notokr-bold.svg#notokr-bold') format('svg');
	font-weight:600;
	font-style:normal;
}
@font-face{
	font-family:'Noto Sans KR';
	src:url('/font/notokr-black.eot');
	src:url('/font/notokr-black.eot?#iefix') format('embedded-opentype'),
	url('/font/notokr-black.woff2') format('woff2'),
	url('/font/notokr-black.woff') format('woff'),
	url('/font/notokr-black.svg#notokr-black') format('svg');
	font-weight:700;
	font-style:normal;
}
@font-face {font-family:'Roboto';font-style:normal;font-weight:400;src:url(/font/Roboto-Regular.woff2) format('woff2'), url(/font/Roboto-Regular.woff) format('woff'), url(/font/Roboto-Regular.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:500;src:url(/font/Roboto-Medium.woff2) format('woff2'), url(/font/Roboto-Medium.woff) format('woff'), url(/font/Roboto-Medium.otf) format('opentype')}
@font-face {font-family:'Roboto';font-style:normal;font-weight:700;src:url(/font/Roboto-Bold.woff2) format('woff2'), url(/font/Roboto-Bold.woff) format('woff'), url(/font/Roboto-Bold.otf) format('opentype')}
strong {font-weight:normal}

/* common */
html, body {margin:0;padding:0;height:100%;width:100%;min-width:1280px}
body {color:#333;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;font-size:13px;letter-spacing:-.5px}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;font-weight:normal;font-size:inherit}
form, fieldset {margin:0;padding:0;border:none}
p, ul, ol, li, dl, dt, dd {list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
em {font-style:normal}
a {text-decoration:none;color:#363636}
a:hover, a:active {text-decoration:none;color:#235291}
table {width:100%;border-collapse:separate;border-spacing:0;table-layout:fixed}
table th {font-weight:normal}
* html table {border-collapse:collapse}
*+html table {border-collapse:collapse}
img {border:none}
input[type='button'], button, select {margin:0;padding:0;cursor:pointer;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;background-color:transparent;border:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;outline:none}
button:active {outline:none;text-indent:0}
p, dt, dd {word-break:break-all}

input, select {outline:none}
input[type='text']::-ms-clear {display:none !important}
input[type='search']::-webkit-search-cancel-button {display:none !important}
input[type='file'] {line-height:1;padding:0 16px;border:1px solid #666;font-size:16px;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;cursor:pointer;outline:none;box-sizing:border-box}

select {font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;font-size:16px;border:1px solid #959595;height:32px;line-height:32px;padding:0 16px;-webkit-appearance:none;-moz-appearance:none;appearance:none}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color:#999}
input:-moz-placeholder,
textarea:-moz-placeholder {color:#999;opacity:1}
input::-moz-placeholder,
textarea::-moz-placeholder {color:#999;opacity:1}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea::-webkit-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-moz-placeholder {line-height:1.8rem;letter-spacing:-.05em}
textarea:-ms-input-placeholder {line-height:1.8rem;letter-spacing:-.05em}

input::-webkit-input-placeholder {color:#999}
input::-moz-placeholder {color:#999}
input:-ms-input-placeholder {color:#999}
input:-moz-placeholder {color:#999}

input[type='checkbox'],
input[type='radio'] {margin:0;padding:0;position:relative;top:2px}
input[readonly='readonly'], input[readonly],
input[disabled='disabled'], input[disabled] {opacity:1 !important}
input.datepicker[disabled='disabled'], input.datepicker[disabled],
input.datepicker[readonly='readonly'], input.datepicker[readonly],
input.datepicker[disabled='disabled']::-webkit-input-placeholder,
input.datepicker[disabled]::-webkit-input-placeholder {background-color:rgb(61, 19, 19) !important;color:#999 !important;opacity:1 !important}
select[disabled] {background:#e5e5e5;color:#bababa}

textarea {width:100%;box-sizing:border-box;padding:1rem;font-size:14px;resize:none;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;border:1px solid #b2b2b2;border-radius:0;-webkit-border-radius:0;outline:none;appearance:none;-webkit-appearance:none}

legend {font-size:0;text-indent:-99999em;line-height:0}
header, section, footer, article, nav, aside {display:block}
img {/*max-width:100%;*/vertical-align:top}
label {font-size:13px}

html.scroll_off {overflow:hidden}

.base-wrap {position:fixed;top:0;width:100%;left:-110%;height:100%;/*background-color:#f0f3f4;*/background-color:rgba(240,243,244,.7);-webkit-transition:left .3s ease-out;transition:left .3s ease-out;z-index:999}
.base-wrap.open,
.base-wrap.open .header {left:0}

/* input */
.input-a {height:44px;padding:0 12px;border:1px solid #f7f7f7;font-size:14px;border-radius:4px !important;-webkit-appearance:none !important;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;outline:none;box-sizing:border-box;font-weight:500;background-color:#f7f7f7;color:#222}
.input-b {height:52px;padding:0 12px;border:1px solid #dfdfdf;font-size:16px;border-radius:4px !important;-webkit-appearance:none !important;font-family:'Roboto', 'Noto Sans KR', HelveticaNeue,AppleSDGothicNeo,sans-serif;outline:none;box-sizing:border-box;font-weight:500;background-color:#fff;color:#222}
.input-b:focus {border-color:#7d02e3}

/* ETC */
.for-a11y {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;clip:rect(0 0 0 0);overflow:hidden;text-indent:-99em}
* {box-sizing:border-box}
.clamp {display:inline-block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:95%}
.clamp-b {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}

/* select */
.select-a {height:32px;border:1px solid #e7e7e7;border-radius:4px;font-size:14px;background:url("/images/blt-arrow-sel.png") 100% 50% no-repeat}
.select-a::-ms-expand {display:none}

/* color */
.point-color-a {color:#0ec717}
.point-color-b {color:#df1010}

/* radio */
.m-select .select-date {display:none}
.form_element-radio {position:relative;min-height:24px;line-height:24px;display:inline-block}
.form_element-radio input[type="radio"] {position:absolute;opacity:0;left:0}
.form_element-radio input[type="radio"]:checked + label .label-value:after {background-color:#019bd4}
.form_element-radio label {display:inline-block}
.form_element-radio label .label-value {display:block;position:relative;padding:0 0 0 32px;line-height:24px;font-size:14px;color:#333;font-weight:500;letter-spacing:-.5px}
.form_element-radio label .label-value:before {content:'';width:24px;height:24px;position:absolute;top:0;left:0;border:1px solid #c3ccce;background-color:#fff;border-radius:50%;box-sizing:border-box}
.form_element-radio label .label-value:after {content:'';width:12px;height:12px;position:absolute;background-color:#c3ccce;border-radius:50%;top:6px;left:6px;}

/* tab content */
.tab-contents,
.tab-contents-b {height:100%;display:none}
.tab-contents.active,
.tab-contents-b.active {display:block}

/* table */
.list-table-a {overflow:hidden}
.list-table-a thead {float:left;width:100%;border-bottom:1px solid #dee5e7;background-color:#e6edfa;padding-right:16px}
.list-table-a thead tr {display:table;width:100%;table-layout:fixed}
.list-table-a thead tr th {text-align:center;height:40px;font-size:14px;font-weight:600;color:#000;word-break:keep-all;line-height:16px}
.list-table-a thead tr th .unit {font-size:12px;font-weight:400;padding-left:2px}

.list-table-a tbody{float:left;width:100%;overflow-y:auto;overflow-x:hidden;-webkit-overflow-scrolling:touch}
.list-table-a tbody tr {display:table;width:100%;table-layout:fixed}
.list-table-a tbody tr:last-child {border-bottom:none}
.list-table-a tbody td {text-align:center;border-bottom:1px solid #dee5e7;height:40px;font-size:14px;color:#333;font-weight:500}
.list-table-a tbody td ~ td {border-left:1px solid #dee5e7}
.box-table .list-table-a tbody {height:310px}
.list-table-a .w-auto {width:auto}
.list-table-a .w-size-a {width:110px}
.list-table-a .w-size-b {width:50px}

/* chart */
.chart-area-a {height:280px;padding:12px 12px 0}

/* map */
.map-area-a {height:calc(100% - 60px);min-height:200px}
.map-data-list,
.map-control {border-top:1px solid #dee5e7;background-color:#fafbfc;height:60px;border-radius:0 0 4px 4px;display:flex;padding:0 12px;align-items:center;justify-content:space-between}
.map-control .slider-item {width:calc(50% - 4px)}
.map-control .slider-item .slider-value {margin-top:8px}
.map-control .slider-item .slider-value .form-a {width:100%;text-align:center;height:16px;line-height:16px;padding:0;border:none;background-color:transparent;font-size:14px;color:#333;font-weight:500}
.map-control .slider-item .slider-value .form-a:readonly {background-color:transparent !important}
.map-data-list {display:flex}
.map-data-list .map-data-item ~ .map-data-item {border-left:1px solid #dee5e7}
.map-data-list .map-data-item {width:calc(100% / 3);height:100%;display:flex;justify-content:center;align-items:center;padding:0 8px}
.map-data-list .map-data-item .area-value {width:36px;height:36px;background-color:#3a3f51;border-radius:50%;text-align:center;line-height:36px;color:#fff;font-weight:500;font-size:14px}
.map-data-list .map-data-item:nth-child(2) .area-value {background-color:#656a7d}
.map-data-list .map-data-item:nth-child(3) .area-value {background-color:#8e95ad}
.map-data-list .map-data-item .area-value .unit {font-size:11px;font-weight:400;padding-left:2px}
.map-data-list .map-data-item .area-content {padding-left:8px;font-size:14px;color:#333;font-weight:500;word-break:keep-all;width:calc(100% - 36px)}

/* text */
.txt-decs-a {font-size:13px;line-height:20px;color:#666;word-break:keep-all}

/* list type */
.dot-list .list-item {padding-left:8px;position:relative;font-size:13px;line-height:16px;color:#666}
.dot-list .list-item ~ .list-item {margin-top:6px}
.dot-list .list-item:before {content:'';position:absolute;left:0;top:5px;width:4px;height:4px;border-radius:50%;background-color:#666}
.dot-list .point-color-a,
.dot-list .point-color-b {font-weight:600}

/* slider */
.ui-slider {position:relative;text-align:left;}
.ui-slider .ui-slider-handle {position:absolute;z-index:2;width:20px;height:20px;cursor:default;-ms-touch-action:none;touch-action:none;}
.ui-slider.ui-state-disabled .ui-slider-handle {filter:inherit}
.ui-slider-horizontal{height:10px;background-color:#fff;border:1px solid #c3ccce;border-radius:5px}
.ui-slider-horizontal .ui-slider-handle {border-radius:50%;background-color:#019bd4;border:1px solid #fff;top:-6px;margin-left:-10px}
.ui-slider-horizontal .ui-slider-range {top:0;height:100%;background-color:#019bd4;border-radius:5px}
.ui-slider-horizontal .ui-slider-range-min {left:0}
.ui-slider-horizontal .ui-slider-range-max {right:0}
.ui-sortable-handle {-ms-touch-action:none;touch-action:none}

/* icon */
[class^="marker-structure-"] {width:88px;height:58px;background-position:0 0;background-repeat:no-repeat;padding-left:46px;cursor:pointer;z-index:99}
[class^="marker-structure-"] .structure-point {font-size:24px;color:#fbcdff;font-weight:600;padding-top:9px;font-family:'Roboto','sans-serif'}
[class^="marker-structure-"] [class^="icon-structure-"] {position:absolute;top:10px;left:10px}
[class^="marker-structure-"] .layer-data {display:none;position:absolute;top:47px;left:10px;white-space:nowrap;color:#753b93;font-size:14px;height:32px;line-height:30px;border:1px solid #5b2676;background-color:#fff;padding:0 12px;border-radius:4px;font-weight:600}
[class^="marker-structure-"] .layer-data:after {content:'';position:absolute;top:-5px;width:10px;height:6px;left:10px;background:url("/images/blt-arrow-b.png") no-repeat 50% 50%}
[class^="marker-structure-"]:hover .layer-data {display:block}
.marker-structure-a {background-image:url("/images/map-item-bg.png")}
[class^="marker-structure-"]:hover {z-index:100}
[class^="icon-structure-"] {display:inline-block;width:28px;height:28px}
.icon-structure-a {background:url("/images/icon-structure-a.png") no-repeat 50% 50%}
.icon-structure-b {background:url("/images/icon-structure-b.png") no-repeat 50% 50%}
.icon-compare {background:url("/images/blt-compare.png") no-repeat 0 0;width:16px;height:14px;display:inline-block}
[class^="icon-position-"] {width:14px;height:20px;display:inline-block;background-repeat:no-repeat;background-position:0 0}
.icon-position-a {background-image:url("/images/blt-area.png")}
.icon-position-b {background-image:url("/images/blt-area-b.png")}
.logo-img {display:inline-block;width:116px;height:25px;background:url("/images/logo.png") no-repeat 0 0}
[class^="icon-map-"] {width:21px;height:21px;background-repeat:no-repeat;background-position:50% 50%;display:inline-block}
.icon-map-a {background-image:url("/images/icon-map-a.png")}
.icon-map-b {background-image:url("/images/icon-map-b.png")}
.icon-map-c {background-image:url("/images/icon-map-c.png")}
.icon-map-d {background-image:url("/images/icon-map-d.png")}
.icon-print {width:20px;height:20px;display:inline-block;background:url("/images/icon-print.png") no-repeat 0 0}
.icon-down {width:20px;height:20px;display:inline-block;background:url("/images/icon-down.png") no-repeat 0 0}

/* title */
.title-a {font-size:18px;color:#000;font-weight:300}
.title-a i {vertical-align:middle;margin-right:8px;position:relative;top:-2px}
.title-b {font-size:24px;color:#31196a;font-weight:200;text-align:center;word-break:keep-all;line-height:30px;padding:20px;font-family:'Noto Sans KR','sans-serif'}
.title-c {font-size:18px;color:#333;font-weight:300}
.title-d {font-size:14px;color:#4e167b;font-weight:500}
.title-e {font-size:14px;color:#7d02e3;font-weight:500;padding-left:10px;position:relative}
.title-e:before {content:'';width:3px;height:3px;border-radius:50%;background-color:#7d02e3;position:absolute;left:0;top:8px}
.title-f {font-size:20px;color:#31196a;font-weight:200;}

/* left area */
.left-area {position:absolute;left:0;top:0;width:400px;bottom:0;background:url("/images/nav-bg.png") no-repeat 50% 100% #f7f7f7;padding-bottom:60px}
.section-a {background-color:#fff}
.section-a .logo-title {height:80px;display:flex;align-items:center;justify-content:center}
.section-a .link-logo {display:block;width:116px;height:25px;background:url("/images/logo.png") no-repeat 0 0}
.structure-box {padding:24px 20px}
.structure-box .address-info {font-size:14px;color:#222;font-weight:500}
.structure-box .address-info i {vertical-align:middle;margin-right:8px}
.structure-type {margin-top:16px;display:flex;height:36px;border:1px solid #c7c7c7}
.structure-type .btn-structure {flex:1;height:34px;font-size:14px;font-weight:300}
.structure-type .btn-structure ~ .btn-structure {border-left:1px solid #c7c7c7}
.structure-type .btn-structure.active {background-color:#5f0080;color:#fff}
.structure-type .btn-structure.active + .btn-structure {border-color:#fff}

.section-b {padding:24px 28px}
.box-compare {margin-top:16px}
.compare-item ~ .compare-item {margin-top:5px}
.compare-item {position:relative;height:48px}
.compare-item.choice .compare-input,
.compare-item.choice .btn-del {display:block}
.compare-item.choice .btn-compare-choice {display:none}
.compare-input {display:none;width:100%;height:48px;border:1px solid #d4a2e5;border-radius:8px;padding:0 44px 0 24px;font-size:18px;color:#5f0080;letter-spacing:-1px;font-weight:600;box-shadow:2px 4px 4px rgba(0,0,0,.05)}
.compare-item .btn-del {display:none;position:absolute;right:0;top:0}
.compare-item .btn-compare-choice {position:absolute;top:0;left:0;width:100%}
.btn-compare-choice {border:1px solid #e7e7e7;border-radius:8px;height:48px;text-align:left;font-size:14px;color:#666;padding-left:40px;background:url("/images/btn-add.png") no-repeat 12px 50% #fff}
.btn-del {width:40px;height:46px;background:url("/images/btn-del.png") no-repeat 50% 50%}
.btn-compare {width:100%;margin-top:12px;height:44px;border:1px solid #b9b9b9;text-align:center;font-size:14px;color:#000;background-color:#fff;font-weight:500}

.section-c {position:absolute;bottom:0;left:0;right:0;text-align:center;padding-bottom:16px}
.section-c .link-type-a {color:#fff;padding:0 24px;position:relative;font-size:14px;font-weight:500}
.section-c .link-type-a ~ .link-type-a:before {content:'';position:absolute;left:0;width:1px;height:10px;background-color:#b18fc1;margin-top:-5px;top:50%}

/* search */
.box-sh {padding:0 20px}
.box-sh .sh-input {position:relative}
.sh-input .box-sh-keyword {position:absolute;top:43px;left:0;right:0;background-color:#fff;border:1px solid #eee;;border-top:none;border-radius:0 0 4px 4px;z-index:10;max-height:380px;overflow-y:auto;-webkit-overflow-scrolling:touch}
.sh-input .box-sh-keyword .sh-keyword-item:first-child {border-top:1px solid #eee;padding-top:5px}
.sh-input .box-sh-keyword .sh-keyword-item:last-child {padding-bottom:5px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map {display:flex;width:100%;padding:5px 8px}
.sh-input .box-sh-keyword .sh-keyword-item.on .move-map,
.sh-input .box-sh-keyword .sh-keyword-item .move-map:hover {background-color:#f7f7f7}
.sh-input .box-sh-keyword .sh-keyword-item.on .move-map .sp-map-point,
.sh-input .box-sh-keyword .sh-keyword-item .move-map:hover .sp-map-point {background-position-x:-220px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map .sp-map-point {margin-right:8px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map .keyword-value {width:calc(100% - 24px);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:12px;color:#666;line-height:18px;letter-spacing:-.5px}
.sh-input .box-sh-keyword .sh-keyword-item .move-map .keyword-value .keyword {font-weight:600;color:#5f0080}
.sh-input .box-sh-keyword .sh-keyword-item .keyword-name {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.sh-input .box-sh-keyword .sh-keyword-item .keyword-name ~ .address-data {font-size:11px;color:#000;font-weight:600}
.box-sh .sh-input .input-a {width:100%;vertical-align:top;padding-right:44px;background-image:url("/images/btn-sh.png");background-repeat:no-repeat;background-position:96% 50%}

/* top filter */
.top-filter {position:absolute;top:0;left:400px;width:calc(100% - 400px);min-width:880px;height:80px;background:url("/images/top-bg.png") no-repeat 0 0 #fff;display:flex;padding:0 28px;align-items:center;box-shadow:2px 0 4px rgba(0,0,0,.2)}
.top-filter .filter-item {flex:1}
.top-filter .filter-item ~ .filter-item {margin-left:32px}
.top-filter .filter-item .filter-title {font-size:14px;color:#4e167b;font-weight:600;line-height:20px}
.top-filter .filter-item .filter-select {margin-top:5px}
.top-filter .filter-item .select-a {width:100%}
.filter-title .filter-type {display:inline-block;width:20px;height:20px;vertical-align:top;background-color:#7d02e3;border-radius:4px;text-align:center;color:#fff;font-weight:200;font-size:12px;margin-right:4px}

/* map control */
.box-map-control .control-section {position:absolute;bottom:40px;right:20px;z-index:100;border:1px solid #333;width:40px;border-radius:4px;overflow:hidden;background-color:#fff}
.box-map-control .control-section .btn-control {height:40px;display:flex;justify-content:center;align-items:center;width:100%}
.box-map-control .control-section .btn-control ~ .btn-control {border-top:1px solid #333}
.box-map-control .control-section .btn-control:hover {background-color:#f7f7f7}
.box-map-control .control-section .btn-control.active {background-color:#eee8f0}

/* structure info */
.box-structure-info.open {left:0}
.box-structure-info {position:absolute;top:124px;left:-400px;bottom:0;width:400px;background-color:#fff;-webkit-transition:left .2s ease-out;transition:left .2s ease-out;overflow:hidden}
.box-structure-info .title-b {padding:20px 40px}
.box-chart {border:1px solid #e2e2e2;border-radius:4px;overflow:hidden}
.box-chart .chart-area {height:260px;display:flex;justify-content:center;align-items:center}
.box-chart .structure-score {background-color:#f6f6f6;height:40px;display:flex;justify-content:center;align-items:center}
.box-chart .structure-score .structure-title {font-size:16px;color:#4e167c;margin-right:12px;letter-spacing:0;padding-top:4px}
.box-chart .structure-score .value {color:#7809d4;font-size:24px;font-weight:600}
.scroll-area {height:calc(100% - 70px);overflow-y:auto;overflow-x:hidden;padding:0 20px}
.scroll-area::-webkit-scrollbar {width:6px}
.scroll-area::-webkit-scrollbar-track {background-color:transparent}
.scroll-area::-webkit-scrollbar-thumb {border-radius:30px;background-color:rgba(0,0,0,.1);border:none}
.scroll-area::-webkit-scrollbar-button {width:0;height:0}
.box-structure-info .btn-layer-close {position:absolute;top:18px;right:12px}
.title-area {display:flex;justify-content:space-between;align-content:center;margin-top:32px}
.accordion-group {margin-top:16px}
.accordion-title {display:flex;justify-content:space-between;align-items:center}
.score-bar {height:3px;background-color:#ecd4ff;margin:16px 0}
.score-bar .score-bar-value {height:3px;display:inline-block;background-color:#7d02e3;vertical-align:top;position:relative}
.score-bar .score-value {width:40px;height:40px;background-color:#7d02e3;position:absolute;top:-16px;right:0;display:flex;justify-content:center;align-items:center;color:#fff;font-size:11px;font-weight:200;border-radius:50%}
.score-bar .score-value .score-point {font-size:14px;font-weight:500}
.detailed-index {display:none;background-color:#f6f6f6;margin-top:-16px;padding:36px 20px 20px}
.detailed-index .box-tab ~ .box-tab {margin-top:20px}
.list-tab {display:flex;border:1px solid #c7c7c7;margin-bottom:12px}
.list-tab .list-item-tab {flex:1}
.list-tab .list-item-tab ~ .list-item-tab {border-left:1px solid #c7c7c7}
.list-tab .list-item-tab .list-item-btn {height:34px;width:100%;text-align:center;font-size:14px;color:#666;background-color:#fff}
.list-tab .list-item-tab.is-selected .list-item-btn {background-color:#7d02e3;color:#fff}
.list-tab .list-item-tab.is-selected + .list-item-tab {border-left-color:#fff}
.detailed-index .detailed-item .detailed-info,
.detailed-index .detailed-item .btn-detailed {display:flex;justify-content:space-between;width:100%;height:28px;align-items:center}
.detailed-item .structure-name {font-size:14px;color:#222}
.detailed-item .structure-street {font-size:14px;color:#7d02e3;font-weight:500}
.accordion-group.active .detailed-index {display:block}
.detailed-index .title-e {margin-top:12px}
.detailed-index .title-e + .txt-decs-a {margin-top:8px;padding-left:10px}

/* btn */
.btn-layer-close {width:32px;height:32px;background:url("/images/btn-close.png") no-repeat 50% 50%}
.btn-type-a {height:32px;padding:0 12px;font-size:14px;color:#7d02e3;border:1px solid #7d02e3;border-radius:4px;font-weight:500}
.btn-type-a:hover {background-color:#7d02e3;color:#fff}
.btn-accordion {width:32px;height:28px;background:url("/images/blt-arrow-a.png") no-repeat 50% 65%}
.btn-help {background:url("/images/btn-help.png") no-repeat 0 0;width:16px;height:16px;margin-left:4px;vertical-align:middle;position:relative;top:-2px}
.btn-compare-a {font-size:16px;color:#000;font-weight:500;border:none;padding:0 28px}
.btn-compare-a i {margin-right:8px;vertical-align:middle}
.active .btn-accordion {transform:rotate(-180deg);-webkit-transform:rotate(-180deg);background-position-y:35%}
/* login */
.layer_section {opacity:0;visibility:hidden;transition:.2s;position:fixed;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, .75);z-index:9001}
.layer_section .layer_section-container {transition:.4s;position:absolute;left:50%;top:65%;width:400px;transform:translate(-50%, -50%);background-color:#fff;border-radius:20px;box-shadow:0 3px 3px rgba(0,0,0,.2)}
.layer_section .layer_section-container.help-content {width:500px}
.layer_section.showing {visibility:visible;opacity:1}
.layer_section.showing .layer_section-container {top:50%;opacity:1}
.layer_section-container .btn_layer-close {position:absolute;top:24px;right:30px;width:20px;height:20px;z-index:20;background:url("/images/btn-close-b.png") no-repeat 0 0}
.layer-content .login-box {padding:52px 40px 60px}
.layer-content .login-title {text-align:center}
.layer-content .login-from {margin-top:40px}
.layer-content .login-from .login-from-item ~ .login-from-item {margin-top:12px}
.layer-content .login-from .input-b {width:100%}
.layer-content .btn-login {width:100%;margin-top:12px;background-color:#7d02e3;border:1px solid #610ca8;border-radius:4px;text-align:center;color:#fff;font-size:18px;height:48px}

/* table */
.table-view-a {border:1px solid #e2e2e2;border-bottom:none}
.table-view-a tbody th {text-align:center;font-size:14px;color:#7d02e3;font-weight:500;border-bottom:1px solid #e2e2e2;background-color:#f1edf9}
.table-view-a tbody td {padding:10px;background-color:#fff;border-left:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;color:#666}

.table-view-b {border:1px solid #e2e2e2;border-bottom:none}
.table-view-b tbody th {text-align:center;font-size:14px;color:#666;height:40px;font-weight:400;border-bottom:1px solid #e2e2e2;background-color:#f6f6f6}
.table-view-b tbody th ~ th {border-left:1px solid #e2e2e2}
.table-view-b tbody td {padding:10px;background-color:#fff;border-left:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;color:#666}

/* box tip */
.box-tip-a {background-color:#fff;border-radius:2px;border:1px solid #333;padding:8px}
.box-tip-a .area-value {font-size:12px;color:#333;font-weight:500}
.box-tip-b {background-color:#019bd4;border-radius:2px;border:1px solid #01749f;padding:12px}
.box-tip-b .area-value {font-size:14px;color:#fff;font-weight:600}
.box-tip-b .btn-box-del {position:absolute;top:-10px;right:-10px;width:24px;height:24px;background-color:#fff;border:1px solid #01749f;border-radius:50%}
.box-tip-b .btn-box-del i {position:relative;vertical-align:middle;top:-1px}

/* 도움말 */
.help-content {padding:20px}
.help-content .help-title {font-size:24px;font-weight:200;color:#31196a;margin:0 20px}
.help-content .des-type-a + .help-item {border-top:1px dashed #e2e2e2;padding-top:12px}
.help-content .box-des {border:1px solid #e2e2e2;background-color:#f6f6f6;padding:12px 20px;margin:12px 20px 0 20px;border-radius:4px}
.help-content .des-type-a {font-size:14px;color:#333;font-weight:400;line-height:22px;word-break:keep-all;margin:12px 20px 0;border-top:1px dashed #e2e2e2;padding-top:16px}
.help-content .help-item {margin:8px 0}
.help-content .help-item .help-tit {padding-left:10px;font-size:14px;font-weight:500;color:#4e167b;position:relative}
.help-content .help-item .help-tit:before {content:'';position:absolute;left:0;top:8px;width:3px;height:3px;border-radius:50%;background-color:#4e167b}
.help-content .help-item .help-txt {padding-left:10px;margin-top:8px;font-size:13px;color:#222;font-weight:300}
.swiper-container {width:100%;min-height:320px}
.help-content .swiper-pagination {font-size:14px}
.help-content .swiper-pagination .swiper-pagination-current {font-weight:600;color:#7d02e3}
.help-content .swiper-button-prev,
.help-content .swiper-container-rtl .swiper-button-next {left:-6px}
.help-content .swiper-button-next,
.help-content .swiper-container-rtl .swiper-button-prev {right:-6px}
.help-content .swiper-button-next:after,
.help-content .swiper-button-prev:after {font-size:20px;color:#7d02e3}

/* 건물정보 layer */
#structure-layer {background:none;width:auto}
.layer_section .layer_section-container.structure-content {transform:translate(0, 0);top:auto;bottom:20px;left:420px}
.layer_section-container.structure-content .btn_layer-close {background:url("/images/btn-close.png") no-repeat 50% 50%;right:18px;top:28px}
.layer_section .layer_section-container.structure-content {border-radius:12px;border:1px solid #e2e2e2}
.structure-content .layer-content {width:400px;padding:24px 0}
.structure-content .structure-title {font-size:24px;font-weight:300;color:#31196a;text-align:center}
.structure-content .address-value {background-color:#f6f6f6;height:36px;display:flex;padding:0 20px;align-items:center;font-size:14px;color:#555;font-weight:500;margin-top:16px}
.structure-content .address-value i {margin-right:8px}
.structure-content .table-data {padding:0 20px;margin-top:20px}

/* 비교분석 */
.compare-analysis.open:before {opacity:1;z-index:100}
.compare-analysis.open .compare-analysis-box {left:400px}
.compare-analysis .compare-analysis-box {position:absolute;top:0;left:-100%;width:calc(100% - 400px);bottom:0;background-color:#fff;z-index:101;min-width:1220px;-webkit-transition:left .3s ease-out;transition:left .3s ease-out}
.compare-analysis .compare-analysis-box .btn-compare-close {position:absolute;top:20px;right:20px;width:40px;height:40px;background:url("/images/btn-close.png") no-repeat 50% 50%}
.compare-analysis:before {content:'';position:fixed;left:0;top:0;width:100%;bottom:0;background-color:rgba(0,0,0,.7);opacity:0;z-index:-1;-webkit-transition:opacity .2s ease-out;transition:opacity .2s ease-out}
.compare-analysis-box .compare-header {height:80px;background-color:#f7f7f7;border-bottom:1px solid #c3c3c3;display:flex;justify-content:space-between;align-items:center;padding-right:72px}
.compare-analysis-box .header-col {display:flex;height:100%}
.compare-analysis-box .compare-title {height:100%;background-color:#400075;color:#fff;width:250px;display:flex;justify-content:center;align-items:center;font-size:20px;font-weight:200}
.compare-analysis-box .vs-area {margin-left:28px;display:flex;align-items:center}
.compare-analysis-box .vs-area .vs-item {display:flex;align-items:center}
.compare-analysis-box .vs-area .vs-item .number {width:28px;height:28px;border-radius:4px;background-color:#7d02e3;display:flex;justify-content:center;align-items:center;font-size:16px;font-weight:500;color:#fff}
.compare-analysis-box .vs-area .vs-item .vs-name {margin-left:8px;font-size:18px;color:#4e167b;font-weight:500}
.compare-analysis-box .vs-area .txt-vs {color:#400a5a;font-weight:600;margin:0 28px;font-size:18px}
.compare-analysis-box .btn-compare-a ~ .btn-compare-a {position:relative}
.compare-analysis-box .btn-compare-a ~ .btn-compare-a:before {content:'';position:absolute;left:0;width:1px;height:14px;background-color:#c3c3c3;top:50%;margin-top:-7px}
.compare-analysis-box .list-tab {margin-bottom:0}
.compare-analysis-content {padding:20px 20px 0;position:relative}
.compare-analysis-content:before {content:'';position:absolute;top:56px;bottom:0;left:50%;border-left:1px dashed #e2e2e2}
.compare-result {position:relative;height:calc(100vh - 136px);overflow-x:hidden;overflow-y:auto;margin-right:-20px;padding-right:14px}
.compare-result::-webkit-scrollbar {width:6px}
.compare-result::-webkit-scrollbar-track {background-color:transparent}
.compare-result::-webkit-scrollbar-thumb {border-radius:30px;background-color:rgba(0,0,0,.1);border:none}
.compare-result::-webkit-scrollbar-button {width:0;height:0}
.box-structure-info .btn-layer-close {position:absolute;top:18px;right:12px}
.compare-result .compare-title-area {display:flex;height:100px;align-items:center}
.compare-result .compare-title-area .structure-name {width:50%;text-align:center;font-size:32px;color:#31196a;font-weight:200}
.compare-result .tab-contents {height:auto;padding-bottom:24px}

.analysis-box {display:flex}
.analysis-box .analysis-item {width:calc(50% - 20px)}
.analysis-box .analysis-item ~ .analysis-item {margin-left:40px;padding-right:4px}
.analysis-item .analysis-summary {display:flex;align-items:center}
.analysis-item .analysis-summary .box-chart {width:350px}
.analysis-item .chart-info {width:calc(100% - 370px);margin-left:20px}
.analysis-item .chart-info .chart-info-item {display:flex;align-items:center;flex-wrap:wrap}
.analysis-item .chart-info .chart-info-item ~ .chart-info-item {margin-top:12px}
.chart-info .chart-info-item .info-title {font-size:14px;color:#400075;font-weight:500;width:100%}
.chart-info .chart-info-item .info-data {font-size:14px;color:#400075;font-weight:300;width:44px;text-align:right}
.chart-info .chart-info-item .info-data .value {font-size:16px;font-weight:600}
.chart-info .chart-info-item .info-bar {width:calc(100% - 44px);height:3px;background-color:#ededed}
.chart-info .chart-info-item .info-bar .info-bar-value {height:3px;display:inline-block;vertical-align:top;background-color:#a757e9}
.analysis-item .title-f {margin:32px 0 16px}
.analysis-item .table-view-b tbody th,
.analysis-item .table-view-b tbody td {font-size:13px}
.analysis-item .map-area-b {height:350px;border:1px solid #e2e2e2;border-radius:4px;overflow:hidden}
.analysis-item .map-area-b ~ .box-tab-b {margin-top:24px}

.list-tab-b {display:flex;border-bottom:1px solid #c7c7c7;margin-bottom:12px}
.list-tab-b .list-item-tab-b {flex:1}
.list-tab-b .list-item-tab-b .list-item-btn-b {height:34px;width:100%;text-align:center;font-size:13px;color:#666;background-color:#fff}
.list-tab-b .list-item-tab-b.is-selected .list-item-btn-b {position:relative;color:#7d02e3;font-weight:500}
.list-tab-b .list-item-tab-b.is-selected .list-item-btn-b:before {content:'';position:absolute;left:0;right:0;bottom:-1px;height:2px;background-color:#7d02e3}
.analysis-item .detailed-item .detailed-info,
.analysis-item .detailed-item .btn-detailed {display:flex;justify-content:space-between;width:100%;height:28px;align-items:center}